<div class="BuyTicket">
  <div>
    <a routerLink="/checkout">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
    <h2>Kup bilet / Sala 1</h2>
    <div class="cinemaHall">
      <div *ngFor="let item of cinemaHallBody" class="row">
        <button (click)="onClick(element)" *ngFor="let element of item" class="buttonClass"
          [class]="element.isActive ? (element.id =='X' ? 'X': 'clicked') : 'place'" [disabled]="element.id == 'X'">
          {{element.id}}
        </button>
      </div>
    </div>
    <app-error *ngIf="error" [errorMessage]="'Żeby kupić bilet, musisz wybrać miejsca!'"></app-error>
    <button (click)="buyTicket()">Kup bilet</button>
  </div>
</div>
