<div class="EditShowing">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <a routerLink="/showings">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
    <h2>Edytuj seans:</h2>
    <label for="title">Film:</label>
    <select name="title" ngModel #title="ngModel" required>
      <option value="" disabled>Wybierz film</option>
      <option *ngFor="let film of films" [ngValue]="film">
        {{ film.title }}
      </option>
    </select>
    <label for="cinemaHall">Sale:</label>
    <select name="cinemaHall" ngModel #cinemaHall="ngModel" required>
      <option value="" disabled>Wybierz salę</option>
      <option *ngFor="let cinemaHall of cinemaHalls" [ngValue]="cinemaHall">
        {{ cinemaHall.hallId }}
      </option>
    </select>

    <div
      class="timeGroup"
      ngModelGroup="timeGroup"
      #time="ngModelGroup"
      appDateValidator
    >
      <label for="date">Data:</label>
      <input type="date" name="date" ngModel #date="ngModel" required />
      <app-error
        *ngIf="!date.valid && date.touched && date.errors.required"
        [errorMessage]="'Wybierz datę aby dodać seans!'"
      ></app-error>
      <label for="hour">Godzina:</label>
      <input type="time" name="hour" ngModel required #hour="ngModel" />
      <app-error
        *ngIf="!hour.valid && hour.touched && hour.errors.required"
        [errorMessage]="'Wybierz godzinę aby dodać seans!'"
      ></app-error>
    </div>
    <app-error
      *ngIf="time.errors?.timeValidator"
      [errorMessage]="'Nie można wybrać daty z przeszłości!'"
    ></app-error>

    <button type="submit" [disabled]="!f.valid">Edytuj</button>
  </form>
</div>
