<div class="EditFilm">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <a routerLink="/films">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </a>
    <h2>Edytuj film:</h2>
    <label For="title">Tytuł:</label>
    <input type="text" name="title" ngModel required #title="ngModel" />
    <app-error *ngIf="!title.valid && title.touched && title.errors.required"
      [errorMessage]="'Pole tytuł nie może być puste!'"></app-error>
    <!-- <input
      type="text"
      name="title"
      value={textInput}
      onChange={changeText}
    /> -->
    <label For="duration">Czas trwania:</label>
    <input type="number" name="duration" appFilmDurationValidator ngModel required #duration="ngModel" />
    <app-error *ngIf="!duration.valid && duration.touched && duration.errors.required"
      [errorMessage]="'Pole czas trwania nie może być puste!'"></app-error>
    <app-error *ngIf="
        !duration.valid &&
        duration.touched &&
        duration.errors?.filmDurationValidator
      " [errorMessage]="
        'Wartość pola czas trwania musi być z przedziału od 1 do 300!'
      "></app-error>
    <!-- <input
      type="number"
      name="duration"
      value={numberInput}
      onChange={changeNumber}
    /> -->
    <label For="url">Adres url plakatu:</label>
    <input type="text" name="url" ngModel pattern="(https?:\/\/.*\.(?:png|jpg|jpeg))" required #url="ngModel" />
    <app-error *ngIf="!url.valid && url.touched && url.errors.required"
      [errorMessage]="'Pole adres url nie może być puste!'"></app-error>
    <app-error *ngIf="!url.valid && url.touched && url.errors.pattern" [errorMessage]="
        'Wartość pola adres url musi prowadzić do zasobu, który jest obrazem'
      "></app-error>
    <!-- <input type="text" name="url" value={urlInput} onChange={changeUrl} /> -->
    <!-- <Error error={emptyTitleField} info="Pole tytuł nie może być puste!" />
    <Error
      error={emptyDurationField}
      info="Pole czas trwania nie może być puste!"
    />
    <Error
      error={durationFieldIncorrectNumber}
      info="Pole czas trwania musi być liczbą dodatnią oraz mniejszą lub równą 240!"
    />
    <Error
      error={emptyImageField}
      info="Pole adres url nie może być puste!"
    />
    <Error
      error={isImageFieldNotValid}
      info="Niepoprawny adres url, adres musi prowadzić zasobu, który jest zdjęciem!"
    /> -->
    <!-- <button onClick={editFilmInFilmList}>Edytuj</button> -->
    <button type="submit" [disabled]="!f.valid">Dodaj</button>
  </form>
</div>
