.Showing {
  display: flex;
  width: 100%;
}

.Showing .Film div.buttonsHolder {
  display: none;
}

.Showing .showingHours {
  flex-wrap: wrap;
  width: 20%;
}
.showingHours a {
  padding: 0.2rem;
}
